@import url('https://fonts.googleapis.com/css2?family=Anton&family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Comfortaa:wght@300..700&family=DM+Serif+Text:ital@0;1&family=Dosis:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
}
:root {
    /* Color Theme */

    /* Sizes */
    --size-xss: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
img, picture, video, canvas, svg {
    max-width: 100%;
    user-select: none;
}
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* border: 1px solid #b71234; */
    /* The CSS rule above is ONLY for
    viewing the container class! */
}
.section {
    margin-top: 5rem;
}



.navbar, .weather-box {
    background-color: rgba(255, 255, 255, 0.329); 
    backdrop-filter: blur(2px);
    border: 1px solid #9c9c9c;
    text-align: center;
}
.navbar {
    height: 99.9vh;
    width: 20rem;
    border: 5px solid #b71234;
}
#navbar-title {
    font-size: var(--size-3xl);
    margin-top: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
    letter-spacing: -1.5px;
}
#search-bar {
    background-color: white;
    border: none;
    border-radius: 25px;
    width: 225px;
    padding: .5em;
    margin-bottom: 5rem;
}
.main-weather-info {
    border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: auto;
    flex-wrap: wrap;
}
#city-climate {
    width: 20rem;
    height: 35rem;
    margin-right: 2rem;
}
#box-container {
    border: 2px solid purple;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 60rem;
    flex-wrap: wrap;
}
.weather-box {
    font-weight: normal;
    height: 15rem;
    width: 20rem;
    border-radius: 15px;
}












/* xxs = (extra extra small)  */
@media (min-width: 320px) {
    .navbar {
        display: none;
    }
}

/* xs = (extra small) */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
    .section {
        margin-top: 5rem;
    }
}

/* sm = (small) */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
    .section {
        margin-top: 5rem;
    }
    body {
        flex-wrap: wrap;
    }
}

/* md = (medium) */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .section {
        margin-top: 5rem;
    }
}

/* lg = (large) */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
    body {
        flex-wrap: nowrap;
    }
    .navbar {
        display: block;
    }
}

/* xl = (extra large) */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
    .section {
        margin-top: 5rem;
    }
}

/* 2xl = (two extra large) */
@media (min-width: 1536px) {
    .container {
        max-width: 1526px;
    }
    .section {
        margin-top: 5rem;
    }
}
