@import url('https://fonts.googleapis.com/css2?family=Anton&family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Comfortaa:wght@300..700&family=DM+Serif+Text:ital@0;1&family=Dosis:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    /* border: 1px solid #b71234; */
}
:root {
    /* Color Theme */
    --txt: #737373;
    --box-bg: #1d1c1f;

    /* Sizes */
    --size-xss: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;   
}
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* border: 1px solid #b71234; */
    /* The CSS rule above is ONLY for
    viewing the container class! */
}
.section {
    margin-top: 5rem;
}
.upper-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0rem;
    margin-top: 2.5rem;
    width: auto;
}
#app-title {
    font-weight: 300;
    font-size: var(--size-lg);
    margin-left: 1.5rem;
}
.search-icon-start {
    display: none;
}
#mobile-btn-container {
    margin-right: 1.5rem;
    display: flex;
    gap: 1rem;
}
.search-bar, #current-location-btn {
    display: none;
}
#search-icon {
    background-color: #131214;
    margin-right: .5rem;
}
#location-icon {
    background-color: #b71234;
}
#search-icon, #location-icon {
    padding: 10px;
    border-radius: 50px;
}
.side-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    flex-direction: column;
    gap: 2.5rem;
}
.box, #forecast {
    background-color: var(--box-bg);
    /* background-color: #141414b1;
    backdrop-filter: blur(5px);
    border: 1px solid rgb(42, 42, 42); */
    width: 70%;
    color: var(--txt);
    border-radius: 25px;
    padding: 25px;
}
#weather-img {
    position: absolute;
    margin-top: -7.5rem;
    margin-left: 45%;
}
.card-titles, .temperature, #desc {
    color: white;
    font-weight: normal;
}
#desc {
    font-size: var(--size-base);
    margin-top: .25rem;
    margin-bottom: 1rem;
    font-weight: 300;
}
.temperature {
    font-size: var(--size-5xl);
}
#date {
    margin-bottom: .25rem;
}
.vertical-bar {
    background-color: rgb(62, 62, 62);
    height: .01rem;
    margin-bottom: .5rem;
}
.search-overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--box-bg);
    display: none; 
    justify-content: center;
    z-index: 99; 
}
.search-overlay.open {
    display: flex; 
}
.search-overlay-content input {
    background-color: var(--box-bg);
    color: var(--box-bg);
}
.search-bar.expanded {
    display: block;
    height: 5rem;
    width: 100vw;
    font-size: var(--size-lg);
    border: none;
    margin-left: 2rem;
    color: white;
    padding-left: 5rem; 
}
#suggestions-container {
    position: absolute; 
    top: 6rem; 
    left: 2rem; 
    width: 90vw;
    background-color: var(--box-bg);
    color: white;
    z-index: 999;
    display: none; 
}
.suggestion-item {
    padding: 12px;
    cursor: pointer;
    display: flex; 
    align-items: center; 
    font-size: var(--size-base);
}
.suggestion-item:hover {
    background-color: #222;
}
#back-btn {
    position: absolute;
    margin-top: -3.45rem;
    margin-left: 4.3rem;
}
.icon {
    float: left;
    height: var(--size-2xl);
}
#icon-container {
    display: flex;
    flex-direction: column;
}
#icon-1 p, #icon-2 p {
    margin-left: 2rem;
}
#icon-1 p {
    position: absolute;
    margin-top: 3px;
}
#icon-2 p {
    margin-top: 2px;
}
#icon-1 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
#forecast {
    display: flex; 
    flex-direction: column; 
}
#forecast-title {
    margin-bottom: 1rem;
    font-size: var(--size-lg);
}
.forecast-columns {
    display: flex;
    flex-direction: column; 
    width: 100%; 
}
.forecast-day-column {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    padding: .25rem; 
    justify-content: space-between;
}
.forecast-day {
    color: white;
    margin-right: 1rem; 
    width: 95px;
    font-size: var(--size-base)
}
.forecast-icon {
    width: var(--size-4xl); 
    height: var(--size-4xl);
    margin-right: 1rem;
}
.forecast-temp {
    color: white;
    font-size: var(--size-sm);
}
.main-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
    gap: 2.5rem;
}
#highlights-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: .5rem;
} 
.sub-box {
    background-color: #161617;
    border-radius: 25px;
    padding: 15px;
}
.sub-box:first-child {
    margin-top: 1rem;
}
.row-pair {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: -1rem;
    margin-top: -1rem;
}
.highlights-title {
    color: var(--txt);
    font-weight: normal;
    font-size: var(--size-base);
}
#air-quality-container {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
#air-icon {
    float: left;
}
#air-quality {
    font-weight: normal;
    font-size: var(--size-base);
    margin-left: 1rem;
}
#air-quality-bar {
    background: linear-gradient(to right,
    green, lime, yellow, orange,
    orangered, #b71234, #800029,
    rgb(128, 0, 79));
    height: 5px;
    border-radius: 50px;
    margin-top: 1rem;
    width: 100%;
}
#rise-set-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.sub-rise-set-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: .5rem;
}
.sub-rise-set-container h3 {
    margin-left: 2.5rem;
    color: white;
    font-weight: normal;
    font-size: var(--size-base);
}
#sun, #moon {
    position: absolute;
    width: var(--size-3xl);
    height: var(--size-3xl);
}
.time {
    margin-top: .25rem;
}
.conditions-container {
    display: flex;
    align-items: center;
    margin-top: .7rem;
}
.highlights-icons {
    float: left;
    height: var(--size-3xl);
    height: var(--size-3xl);
}
#humidity, #pressure, #visibility, #feels-like {
    margin-left: .5rem;
    font-size: var(--size-base);
    color: white;
}
#highlights-pair {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#pair {
    width: 35%;
    margin-top: 0;
}
#pair-container {
    display: flex;
    justify-content: space-between;
}
.box-pair {
    background-color: #161617;
    height: 3.5rem;
    padding: 20px;
    border-radius: 25px;
    width: 31%;
}
#visibility, #feels-like {
    font-size: var(--size-sm);
}
.highlights-alignment {
    margin-top: .5rem;
    display: flex;
    align-items: center;
}
#aqi-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    border: 3.5px solid #0f0f0f;
    position: absolute;
    top: 18px;
    transform: translate(-50%, -50%); 
    left: 0%; 
}
#aqi-container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 20px; 
}
.trio {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
#todays-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 62%;
    margin-bottom: 2.5rem;
}
#today-title {
    margin-bottom: 1rem;
    text-align: center;
}
#todays-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 62%;
    margin-bottom: 2.5rem;
}
#today-title {
    margin-bottom: 1rem;
    text-align: center;
}
.hourly-scroll-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    overflow-x: auto;
    padding: 0 1rem;
    width: 120%;
    scroll-snap-type: x mandatory;
}
.hourly-weather {
    background-color: var(--box-bg);
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    width: 4.5rem;
    flex: 0 0 auto; 
    scroll-snap-align: start;
}
.hourly-time, .hourly-temp {
    font-weight: normal;
    font-size: var(--size-base);
}
.hourly-icon {
    height: var(--size-5xl);
    margin: 0.5rem 0;
}
.hourly-scroll-container::-webkit-scrollbar {
    display: none;
}
.hourly-scroll-container {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
.footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.one {
    display: none;
}
#footer-title {
    font-weight: normal;
    margin-bottom: 1rem;
    font-size: var(--size-base);
}
#footer-api-container {
    margin-bottom: 2.5rem;
    background-color: var(--box-bg);
    width: 12rem;
    padding: 10px;
    border-radius: 25px;
}
#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: #0f0f0f;
    border-radius: 25px;
    padding: 5px;
}
#api-logo, #github-logo {
    height: var(--size-3xl);
}
#github-logo {
    background-color: #2c2c2c;
    border-radius: 50px;
    padding: 5px;
}
.suggestions-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 28.8rem;
    background-color: var(--box-bg);
    color: white;
    border: 1px solid #333;
    border-top: none;
    border-radius: 0 0 25px 25px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: none;
    overflow: hidden;
}
.suggestion-item {
    padding: 0;
}
.suggestion-item:hover {
    background-color: #2e2e2e;
}
.suggestion-item .location-icon {
    width: 1.2rem; 
    height: 1.2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-top: 0rem;
}
.suggestion-item .city-name {
    color: white;
    font-weight: normal; 
    font-size: var(--size-base);
    margin-left: .5rem;
}
.suggestion-item .location-secondary {
    color: grey;
    font-size: var(--size-sm); 
    margin-top: .25rem;
    margin-left: .5rem;
}
.suggestion-item .text-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    margin: .7rem;
}

/* md = (medium) */
@media (min-width: 768px) {
    .main {
        display: flex;
        height: 60rem; 
        justify-content: center;
        align-items: start;
        gap: 1rem; 
        margin-top: 2rem;
    }
    .side-boxes {
        width: 25rem; 
        flex-shrink: 0;
        margin-top: 0;
    }
    #weather-img {
        margin-left: 10.5rem;
    }
    #highlights-container {
        width: 100%;
    }
    .main-boxes {
        width: 90%;
        margin-top: 0;
    }
    .one {
        display: block;
    }
    .two {
        display: none;
    }
    .sub-box {
        width: auto;
    }
    #todays-weather {
        width: 15.5rem;
    }
    #logo-container {
        margin-top: -.2rem;
    }
}

/* lg = (large) */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
    #highlights {
        flex-shrink: 0;
    }
    .main {
        margin-top: 3.5rem;
    }
    .box-pair {
        width: 14rem;
    }
    #mobile-btn-container {
        display: none;
    }
    .search-bar, #current-location-btn {
        display: block;
    }
    .search-bar {
        padding: 15px;
        width: 25rem;
        font-size: var(--size-base);
        background-color: var(--box-bg);
        border: none;
        border-radius: 25px; 
        color: white;
    }
    .search-bar.suggestions-active {
        border-radius: 25px 25px 0 0; 
    }
    #current-location-btn {
        padding: 15px;
        width: 12.5rem;
        font-size: var(--size-base);
        background-color: #b71234;
        border: none;
        border-radius: 50px;
        color: white;
    }
    #app-title {
        width: auto;
    }
    #search-icon, #location-icon {
        display: none;
    }
    .search-input-wrapper {
        position: relative; 
        margin: 0 auto; 
        width: 25rem; 
    }
    .search-input-wrapper > input.search-bar {
        width: 100%;
        padding-left: 3rem;
    }
    .search-input-wrapper > img.search-icon-start {
        position: absolute;
        left: 1rem; 
        top: 50%;
        transform: translateY(-50%); 
        width: 1.2rem; 
        height: auto;
    }
    .search-icon-start {
        display: block;
    }
    #rise-set-container {
        gap: 3rem;
    }
}

/* xl = (extra large) */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
    .section {
        margin-top: 5rem;
    }
    .main {
        height: 50rem;
    }
    #weather-img {
        margin-left: 12rem;
    }
    #app-title {
        width: 11rem;
    }
    #highlights {
        flex-shrink: 0;
    }
    .box-pair {
        width: 19.2rem;
    }
    #todays-weather {
        width: 60%;
        margin-bottom: 2.5rem;
    }
    .hourly-weather {
        margin-top: 1.5rem;
    }
    .box, #forecast {
        padding: 35px;
    }
    .side-boxes {
        width: 25rem;
        margin-right: -5rem;
        margin-left: 5rem;
    }
    .trio {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }
    #highlights-pair {
        display: flex;
        gap: 2rem;
        width: 70%;
    }
    #pair {
        width: 70%;
    }
    #highlight-title {
        font-size: var(--size-xl);
    }
    #air-quality {
        font-size: var(--size-xl);
    }
    .highlights-title {
        font-size: var(--size-lg);
    }
    .sub-rise-set-container h3 {
        font-size: var(--size-lg);
        margin-left: 2.5rem;
        width: 5rem;
    }
    #humidity, #pressure, #visibility, #feels-like {
        font-size: var(--size-lg);
        margin-left: 1rem;
    }
    .box-pair #visibility, #feels-like {
        font-size: var(--size-lg);
    }
    #forecast-title {
        font-size: var(--size-xl);
    }
    .forecast-day, .forecast-temp {
        font-size: var(--size-lg);
    }
    .forecast-day {
        width: 7.5rem;
    }
    #just-go-up-plz-im-tired {
        margin-top: 0rem;
    }
    #humi {
        margin-top: 1.5rem;
    }
    #humi h3 {
        font-size: var(--size-2xl);
    }
    #highlights-container {
        display: flex;
        flex-direction: column;
        gap: 2.7rem;
    }
    .sub-box {
        padding: 20px;
    }
    .row-pair {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        gap: 2rem;
    }
    .row-pair .sub-box  {
        height: 6rem;
    }
    .half-width {
        width: 50%;
    }
    #pres {
        margin-top: 0;
    }
    .third-width {
        width: 30%;
    }
}

/* 2xl = (two extra large) */
@media (min-width: 1536px) {
    .container {
        max-width: 1526px;
    }
    .section {
        margin-top: 5rem;
    }
    .side-boxes {
        width: 30rem;
        margin-left: 0rem;
        margin-right: 0;
    }
    #highlights {
        width: 60rem; 
        flex-shrink: 0;
    }
    .box-pair {
        width: 26.7rem;
    }
    .sub-rise-set-container h3 {
        font-size: var(--size-xl);
        margin-left: 3.5rem;
    }
    #humidity, #pressure, #visibility, #feels-like {
        font-size: var(--size-xl);
        margin-left: 1rem;
    }
    #todays-weather {
        width: 80%;
        margin-left: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #today-title {
        margin-left: -3.7rem;
    }
    .main-boxes {
        width: auto;
    }
}
